form {
  width: 80%;
  height: 100%;
  margin: 20px 0;
  padding: 20px;
  background-color: #c9d6d8;
  border-radius: 10px;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #0b66c2;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

@media only screen and (max-width: 575px) {
  form {
    width: 100%;
  }
}